<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <queries>

        <package android:name="com.whatsapp" />

        <package android:name="com.google.android.youtube" />

        <package android:name="com.android.chrome" />
sss
        <package android:name="com.android.settings" />

    </queries>

    <application
        android:theme="@style/AppTheme"
        android:label="Voice Phone Control"
        android:allowBackup="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".ScreenshotService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.accessibilityservice.AccessibilityService" />

            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>

        <!-- LIVE SCREEN -->

        <service
            android:name=".LiveScreenService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>