<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <queries>

        <package
            android:name="com.whatsapp" />

        <package
            android:name="com.google.android.youtube" />

        <package
            android:name="com.android.chrome" />

        <package
            android:name="com.android.settings" />

    </queries>


    <application
        android:theme="@style/AppTheme"
        android:label="Phone Control"
        android:allowBackup="true">

        <activity
            android:name=".PermissionActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />


        <!-- COMMAND SERVICE -->

        <service
            android:name=".CommandService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />


        <!-- ACCESSIBILITY SERVICE -->

        <service
            android:name=".ScreenshotService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.accessibilityservice.AccessibilityService" />

            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>
        <service
            android:name=".NotificationService"
            android:label="Phone Control Notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

        </service>

        <!-- LIVE SCREEN -->

        <service
            android:name=".LiveScreenService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />


    </application>

</manifest>